.container
  margin: 10px
  h3
    font-size: 20px
    text-align: center
    height: 36px
    line-height: 36px
    font-weight: bold
    color: #666
  form
    padding: 10px
    .item-wrapper
      margin: 10px
      display: flex
      justify-content: space-between
      input
        margin: 0 5px
        padding: 0 0 0 10px
      span
        width: 100px
        height: 40px
        display: block
        text-align: center
        line-height: 40px
        font-size: 16px
        font-weight: bold
        color: #333
.mint-button--large
  width: 60%
  margin-left: 20%
  margin-top: 20px